.sidebar-header {
  display: flex;

  .logo {
    width: 32px;
    height: 32px;
    margin: 5px;
  }

  h2 {
    align-self: center;
    padding: 5px;
    color: var(--color-secondary)
  }
}

.links {
  list-style: none;
  margin: 0;

  li {
    padding: var(--small);

    a {
      text-decoration: none;
      color: var(--color-secondary);
      font-weight: bold;
    }
  }
}