{
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "markup", "typescript"],
        "plugins": ["line-numbers"],
        "theme": "darcula",
        "css": true
    }]
  ]
}