button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--normal);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 1px solid #FB6;
}

.basic {
  background-color: var(--color-primary);
  color: var(--white);
}

.small {
  height: 1.6rem;
  width: 4rem;
  font-size: var(--small);
  padding: 0;
}

.large {
  height: 3rem;
  width: 6rem;
  font-size: var(--large);
}