:root {
  --color-primary: blueviolet;
  --color-secondary: #2d2d2d;
  --white: #FFF;
  --small: 0.8rem;
  --normal: 1rem;
  --large: 1.2rem;
  --x-large: 1.6rem;

  --font-size-large: calc(var(--normal) * 4);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1, h2 {
  margin: 0;
  color: var(--color-primary);
}

aside {
  padding: var(--x-large)
}

main {
  display: flex;

  .main-left {
    margin: var(--normal) auto;
    min-width: 60%;
  }

  .main-right {
    width: 220px;
  }

  h1 {
    padding: var(--normal);
    font-size: var(--font-size-large);
    color: var(--color-secondary);
  }

  section {
    padding: var(--large);

    h3 {
      margin: 0;
    }
  }
}


pre[class*="language-"] {
  padding: 0;
  font-size: 1rem;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 11fr;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media (max-width: 1140px) {
  .main-left {
    width: 100%;
  }
  
  pre[class*="language-"] {
    font-size: 0.8rem;
  }

  .main-right {
    display: none;
  }
}
