:root {
  --color-primary: blueviolet;
  --color-secondary: #2d2d2d;
  --white: #FFF;
  --small: 0.8rem;
  --normal: 1rem;
  --large: 1.2rem;
  --x-large: 1.6rem;

  --font-size-large: calc(var(--normal) * 4);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1, h2 {
  margin: 0;
  color: var(--color-secondary);
}


pre[class*="language-"] {
  padding: 0;
  font-size: 1rem;
}

#root {
  min-height: 100vh;
}

.text-info {
  color: #DFE;
  font-weight: 500;
  font-size: 1.5rem;
}

.cover-text {
  margin: 20px auto;
  width: 90%;
  text-align: justify;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 220px auto 220px;

  main {
    margin: 0 auto;
    width: 80%;
    padding-top: var(--x-large);

    .items-container {
      div, button, svg {
        display: inline-block;
        margin: var(--normal)
      }
    }
  }
}

.code-container {
  width: 96%;
}

@media (max-width: 1500px) {
  .main-wrapper {
    display: grid;
    grid-template-columns: 220px auto;

    main {
      margin: 0 auto;
      padding-left: var(--small);
      padding-right: var(--small);
      width: 100%;
      box-sizing: border-box;
    }
  }

  .right-sidebar {
    display: none;
  }
}

/* Left Sidebar */
.left-sidebar {
  .sidebar-header {
    display: flex;
    padding: var(--normal);

    img {
      width: 32px;
      height: 32px;
    }
  
    h2 {
      align-self: center;
      padding-left: var(--small);
    }
  }

  .links {
    list-style: none;

    li {
      padding: var(--normal);
      padding-left: var(--x-large);

      a {
        text-decoration: none;
        font-weight: bold;
        color: var(--color-secondary);
      }
    }
  }
}

/* Right Sidebar */
.right-sidebar {
  ul {
    list-style: none;
    padding: 0;

    li {
      padding: var(--small) 0;
    }
  }
}


.property-desc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #CDE;
  border-radius: 15px;
  margin: 5px 0;
  padding: 15px;
  font-size: var(--small);
  font-family: monospace;;
}

article .property-desc:first-child {
  border: 0;
  padding-bottom: 5px;
  font-weight: 600;
  font-family: unset;
}